#tabContent {
  border-left: 0.5px solid #dddcdc;
  border-right: 0.5px solid #dddcdc;
  border-bottom: 0.5px solid #dddcdc;
  border-radius: 0 0 5px;
}

.stripe-color {
  display: flex;
  height: 30px;
  margin: 0 auto;
  background-color: red;
}
