.imagem {
    overflow: hidden;
    border-radius: 15px;
    border: 2px tomato;
}

main {
    margin-top: 80px;
    margin-bottom: 40px;
}

h1 {
    text-align: center;
}


/*COLAR FOOTER NO BURACO DO FOOTER*/

@media only screen and (min-width: 480px) {
    html {
        height: 100%;
    }
    body {
        min-height: 100%;
        position: relative;
        padding-bottom: 80px;
    }
    footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 80px;
    }
}